@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-gray-300 cursor-default;
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .primary-btn {
    @apply mt-6 px-6 py-3 text-lg text-white rounded-lg bg-slate-800;
  }

  .navlink-logo {
    @apply hover:text-sky-400 transition duration-300 active:text-sky-700;
  }
  .navlink {
    @apply transition duration-300 hover:text-sky-400 active:text-sky-700;
  }
  .navlink {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }

  .navlink::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -1px;
    left: 0;
    background-color: rgb(56 189 248); /* You can customize the color */
    transition: width 0.2s ease-in-out;
  }

  .navlink:hover::after {
    width: 100%;
  }

  .footer-links {
    @apply hover:text-white active:text-gray-400 transition duration-200;
  }
  .nav-btn {
    @apply px-4 py-1 rounded-lg border-solid border-2 border-sky-500 text-sky-500 hover:bg-sky-500 active:bg-sky-700 active:border-sky-700 hover:text-inherit transition duration-200;
  }
  .wsu-img {
    @apply inline w-16 h-14 mr-4 mb-2;
  }
  .ed-container {
    @apply text-lg text-gray-400 space-y-6 font-sans;
  }
  .ed-heading {
    @apply text-xl text-white;
  }
  .ed-major {
    @apply underline underline-offset-4;
  }
}
