@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply cursor-default bg-gray-900 text-gray-300;
}

html {
  scroll-behavior: smooth;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.writing-vertical {
  writing-mode: vertical-lr;
}

@layer components {
  .primary-btn {
    @apply mt-6 rounded-lg bg-slate-800 px-6 py-3 text-lg text-white;
  }

  .navlink-logo {
    @apply transition duration-300 hover:text-sky-400 active:text-sky-700;
  }
  .navlink {
    @apply transition duration-300 hover:text-sky-400 active:text-sky-700;
  }
  .navlink {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }

  .navlink::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -1px;
    left: 0;
    background-color: rgb(56 189 248); /* You can customize the color */
    transition: width 0.2s ease-in-out;
  }

  .navlink:hover::after {
    width: 100%;
  }

  .footer-links {
    @apply transition duration-200 hover:text-white active:text-gray-400;
  }
  .nav-btn {
    @apply rounded-lg border-2 border-solid border-sky-500 px-4 py-1 text-sky-500 transition duration-200 hover:bg-sky-500 hover:text-inherit active:border-sky-700 active:bg-sky-700;
  }
  .wsu-img {
    @apply mb-2 mr-4 inline h-14 w-16;
  }
  .ed-container {
    @apply space-y-6 font-sans text-lg text-gray-400;
  }
  .ed-heading {
    @apply text-xl text-white;
  }
  .ed-major {
    @apply underline underline-offset-4;
  }
}
